.container{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: url('http://bit.ly/2FTO7VA)');
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  font-size: 1.3em;
  font-family: 'Work Sans', sans-serif;
}

nav{
  margin: 0 auto;
  padding: 0.1% 0;
  margin-right: 0;
}

nav>ul{
  text-align: right;
}
ul>li{
  display: inline-block;
}
ul>li>a{
   padding: 3%;
   text-decoration: none;
   color:  rgba(255, 255, 255, 0.733);
} 