.container{
  top: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(100, 112, 146);
  font-style: italic;
}

body{
  font-size: 1.3em;
  font-family: 'Work Sans', sans-serif;
  color: black;
  font-size: 20px;
}

nav{
  margin: 0 auto;
  padding: 2%;
  margin-right: 0;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/c8/6a/07/c86a076b2d79cdd05f87c5044dfbc51d.jpg")
}
title{
  text-align: center;
}
 #ref{
   margin-right: 3%;
   margin-left: 3%;
 } 
ul>li{
  padding: 2%;
  font-size: 20px;
}
ul>li>a{
   text-decoration: none;
   color:  rgba(41, 100, 54, 0.733);
}
.row {
  float: left;
  width: 30%;
  padding: 20px;
}

.column::after {
  content: "";
  clear: both;
  display: float ;
}
#contacts {
  font-size: 5px;
}

#home{
  margin-left: 3%;
  margin-right: 3%;

}
#about{
  margin-left: 3%;
  margin-right: 3%;
}
.services{
  margin-left: 3%;
  margin-right: 3%;
}  
#software{
  margin-left: 3%;
  margin-right: 3%; 
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter {
  color: white;
  background-color: #00acee;
}

.fa-google {
  color: white;
  background-color: #00acee;
}

.fa-facebook {
  color: white;
  background-color: #00acee;
}

.fa-instagram {
  color: white;
  background-color: #00acee;
}

.fa:hover {
  opacity: 0.7;
}

#contacts {
  font-size: 12px;
}

footer {
  display: flex;
  padding: 2%;
  justify-content: space-between;
  background-image: url("https://i.pinimg.com/originals/c8/6a/07/c86a076b2d79cdd05f87c5044dfbc51d.jpg");
}